<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Career Mentor</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="chat-container">
    <div class="chat-header">
      <h1>Career Mentor AI 💻</h1>
      <img id="botImg" src="https://res.cloudinary.com/drp10qxxj/image/upload/v1735130982/chatBot_z44k4y.png">
    </div>
    <div id="messages" class="messages">
    </div>
    <div class="predefined-questions">
      <button class="question-btn">What are the latest fashion trends?</button>
      <button class="question-btn">What colors are in style this season?</button>
      <button class="question-btn">Can you suggest an outfit for a formal event?</button>
      <button class="question-btn">What accessories go well with a casual look?</button>
      <button class="question-btn">How to style denim jackets?</button>
    </div>
    <div class="input-container">
      <input type="text" id="user-input" placeholder="Type your message here...">
      <button id="send-btn">Send</button>
    </div>
  </div>
  <script src="/static/script.js"></script>
</body>
</html>
